.card {
    align-content: center;
    width: 250px;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

.card img {
    align-self: center;
    width: 100%;
    height: auto;
}

.price {
    align-self: center;
    color: rgb(235, 100, 4);
    font-size: 18px;
    font-weight: bold;
}

button {
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(247, 255, 209);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(229, 229, 255, 0.339);
}