body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    border:2px;
}

section {
    padding: 20px;
    margin: 10px;
    
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.projects:hover{
    text-decoration-color: red;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    color:cyan;
    padding: 10px;
}
footer:hover{
    background-color: whitesmoke;
}
